.headline {
  color: blue;
}

.box {
  border-style: dashed;
  border-color: lightgreen;
  border-width: 5px;
  background-color: green;
  color: white;
  padding: 10px 10px 10px 10px;
  width: 300px;
  height: 100px;
}

.subhead {
  font-size: 24px;
  font-weight: bold;
}

.storybody {
  font-size: 1.2em;
}

.copyright {
  font-style: italic;
}

.box1 {
  height: 200px;
  width: 300px;
  background-color: red;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.box2 {
  height: 200px;
  width: 300px;
  background-color: green;
  float: left;
  margin: 0px 10px 10px 0px;
}

.box3 {
  height: 200px;
  width: 300px;
  background-color: blue;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.daytitle {
  background-color: pink;
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

.dayofweek {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: pink;
  padding: 10px 20px 10px 20px;
}

.clear {
  clear: left;
}

/********************************/
/*  styles for final about page */
/********************************/


body {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.name_container {
  background-color: red;
  width: 384px;
  height: 384px;
}

.content_container {
  background-color: yellow;
  max-width: 768px;
}

.image_container {
  background-color: green;
  min-width: 375px;
  width: 384px;
  height: 384px;
  float: left;
}

.bio_container {
  background-color: blue;
  min-width: 375px;
  width: 384px;
  height: 384px;
  float: left;
}

.news_container {
  background-color: orange;
  width: 384px;
  height: 384px;
}
